@import "tailwindcss";

@theme inline {
  --color-lightMode: hsl(0, 0%, 98%);
  --color-lightModeElements: hsl(0, 0%, 100%);
  --color-lightModeText: hsl(200, 15%, 8%);
  --color-lightModeInput: hsl(0, 0%, 52%);


  --color-darkMode: hsl(207, 26%, 17%);
  --color-darkModeText: hsl(0, 0%, 100%);
  --color-darkModeInput: hsl(0, 0%, 100%);
  --color-darkModeElements: hsl(209, 23%, 22%);

  
  --font-nunito: var(--font-nunito-sans);
}
/* Weights: 300, 600, 800 */
